body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .message-form {
  position: relative;
  left: 0;
  bottom: 0;
}
.own-message {
  color: white;
  background-color: #2F4DFA ;
  border-radius: 5px;
  align-self: flex-end;
}
.other-message {
  color: white;
  background-color: #787878;
  border-radius: 5px;
  align-self: flex-start;
}
.message {
  color: black;
  border-radius: 5px;
  align-self: flex-start;
} */